@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-md" role="alert">
        <div class="container">
            <div class="navbar-header w-100 w-md-auto text-center">
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#cookieCollapse"
                        aria-controls="cookieCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa fa-info-circle mr-3"></i>
                    <span class="ml-3">Cookie information. Tap here.</span>
                </button>
                <span class="navbar-brand d-none d-md-block">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
            </div>
            <div id="cookieCollapse"class="collapse navbar-collapse">
                <p class="navbar-text mr-auto ml-3 mt-3 text-center text-md-left">
                    I use cookies on this site in order to make it the best it can be.<br />
                    Hit the accept button if you're cool with that.
                </p>
                <div class="mx-auto mr-md-0 text-center">
                    <a asp-controller="Home" asp-action="Privacy" class="btn btn-info navbar-btn">Learn More</a>
                    <button type="button" class="btn btn-outline-secondary navbar-btn" data-cookie-string="@cookieString">Accept</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("d-none");
            }, false);
        })();
    </script>
}