@{
    ViewData["Title"] = "About This Site";
}

<h1>@ViewData["Title"]</h1>

<h3>What is it?</h3>
<p>Well, it's kinda supposed to be my portfolio site, but I'll probably use it for all kinds of other fun stuff.</p>

<h3>What's it made of?</h3>
<p>The site is powered by .net core 2.2 and architected using the MVVMC pattern. It's currently running in a docker container inside a droplet at <a href="www.digitalocean.com" target="_blank">Digital Ocean</a>.</p>

<h3>Why?</h3>
<p>I'm primarily a .net Core software engineer so it makes sense to build my site using the Microsoft .net core stack.</p>

<h3>Anything else?</h3>
<p>I'm sure there is. When I remember what it is, I'll update this page. Check back soon.</p>