@{
    ViewData["Title"] = "About This Site";
}
<div class="sizer header"></div>
<div id="OwlContainer">
    <div id="owl-carousel" class="owl-carousel">
        <div class="item1">
            <div class="carousel-image"
                 role="img"
                 aria-label="Breakfast with tablet open"
                 style="background-image: url(../images/banners/blackboard-question-mark-banner.jpg)">
                <span class="full-height sizer"></span>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    #OwlContainer { height:100%;}
</style>

<h1>All About My Website</h1>

<h3>What is it?</h3>
<p>Well, it's kinda supposed to be my portfolio site, but I'll probably use it for all kinds of other fun stuff.</p>

<h3>What's it made of?</h3>
<p>The site is powered by .net core 2.2 and architected using the MVVMC pattern. It's currently running in a docker container inside a droplet at <a href="www.digitalocean.com" target="_blank">Digital Ocean</a>.</p>

<h3>Why?</h3>
<p>Why not? Because it's enterprise level stuff. Because I'm showing off. Because MVC makes a lot of sense to me.</p>