@{
    ViewData["Title"] = "Home Page";
}

<div id="body-content">
    <div id="owl-carousel" class="owl-carousel owl-theme">
        <div class="item1">
            <div class="carousel-image"
                 role="img"
                 aria-label="Breakfast with tablet open"
                 style="background-image: url(../images/banners/breakfast_banner.jpg)">
                <span class="sizer"></span>
            </div>
            <div class="owl-overlay">
                <div class="row text-center">
                    <h3 class="wow animated fadeInUp delay-0_5s">Welcome to my world</h3>
                </div>

                <div class="row text-center">
                    <div class="nav-container text-center">
                        <ul class=" nav">
                            <li class="wow animated fadeInUp delay-1s"><a asp-action="About">About Me</a></li>
                            <li class="wow animated fadeInUp delay-1_25s"><a  asp-action="">About this site</a></li>
                            <li class="wow animated fadeInUp delay-1_5s"><a asp-action="Contact">Contact Me</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="item2">

            <div class="carousel-image"
                 role="img"
                 aria-label="close up hand holding an iphone while drinking coffee"
                 style="background-image: url(../images/banners/coffee-phone-banner.jpg)">
                <span class="sizer"></span>
            </div>

            <div class="owl-overlay
">
                <div class="row text-center">
                    <h3 class="wow animated fadeInUp">Reach out and touch me</h3>
                </div>
                <ul class="list-inline">
                    <li class="list-inline-item wow animated fadeInUp delay-0_75s"><a target="_blank" href="https://www.twitter.com/harleybartles"><i class="fa fa-2x fa-twitter-square"></i></a></li>
                    <li class="list-inline-item wow animated fadeInUp delay-1s"><a target="_blank" href="https://www.linkedin.com/in/harley-bartles-92326110/"><i class="fa fa-2x fa-linkedin-square"></i></a></li>
                    <li class="list-inline-item wow animated fadeInUp delay-1_25s"><a target="_blank" href="https://www.facebook.com/harley.bartles"><i class="fa fa-2x fa-facebook-square"></i></a></li>
                    <li class="list-inline-item wow animated fadeInUp delay-1_5s"><a target="_blank" href="mailto:hbartles81@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a></li>
                    <li class="list-inline-item wow animated fadeInUp delay-1_75s"><a target="_blank" href="tel:07566845952"><i class="fa fa-2x fa-phone-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
