
@{
}

<div class="row"><h2>Tools</h2></div>
<hr />
<div class="row mb-3"><h4><i class="fa fa-twitter"></i> - Twitter Tools</h4></div>
<div class="row"><p>Enter your Twitter handle below to generate a search link for your profile.</p></div>
<div class="row">
    <div class="col-12 col-md">
        <label for="TwitterName">Twitter Handle</label>
        <input id="TwitterName" type="text" class="form-control mb-3" />
        <button id="MakeLink" class="btn btn-outline-secondary mx-auto">Go</button>
    </div>
    <div class="col-12 col-md invisible">
        <label for="SearchLink">Your search link</label>
        <input id="SearchLink" type="text" class="form-control mb-3" />
        <button id="CopyLink" data-clipboard-target="#SearchLink" class="btn btn-outline-secondary mx-auto">Copy</button>
    </div>
</div>
<hr />

@section Scripts {
    <script src="~/js/tools.js"></script>
}